#root {
 
  margin: 0 ;
  text-align: center;
  box-sizing: border-box;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (min-width: 2224px) and (max-width: 2808px) {
  .custom-section-height {
    min-height: calc(1150px + (100vw - 2224px) * 0.5);
  }
}
